# dependencies
node_modules/

# env files
.env
.env.local

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store

# firebase
firebase.json
backend/firebase.credentials.json
backend/firebase-service-account.json
frontend/dist
frontend/.firebase